body {
    background-color: black;
}

*{
    text-decoration: none;
}

.navbar{
    background-color: #0F0F0F;
    font-family: calibri;
    padding-right: 400px;
    padding-left: 100px;
    border-radius: 100px;
    border: solid 3px hsl(221, 72%, 37%)
}

.navdiv{

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo a{

    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
    color: aqua;
    
}


li{
    list-style: none;
    display: inline-block;
}

li a{
    color: aqua;
    font-size: 18px;
    font-weight: bold;
    margin-right: 100px;
    border-radius: 200px;
    border: solid 2px hsl(221, 72%, 37%)
}

